In [1]:
dct={}

In [3]:
type(dct)

dict

In [ ]:
#dct = {key:value , key:value}        # dict me index nahi houty

In [5]:
dct = {1:100 , 2:200 , 3:300 , 4:400}
dct1 = {'a':'apple' , 'b':'banana' , 'c':"cat"}
dct2 = {1:'a' , 2:'b' , 3:'c'}
dct3 = {'hey':1 , 'bye' :2}
dct4 = {'name':['amna', 'khansa' , 'bilal' , 'mashahid'] , 'Dpt':['dom', 'dpa' , 'masscom' , 'astro']}
dct5 = {'a1':[dct, dct1, dct2 , dct3 , dct4]}

In [6]:
dct[1]

100

In [7]:
dct[2]

200

In [8]:
dct[4]

400

In [10]:
dct1['b']

'banana'

In [12]:
dct2[2]

'b'

In [13]:
dct3['bye']

2

In [ ]:
#Json format follow dct

In [14]:
dct5["a1"]= "whatever"

In [15]:
print(dct5)

{'a1': 'whatever'}

In [ ]:
#IF KEY IS SAME

In [16]:
dct6 = {1:'aariz' , 2:'maham' , 3:'khizar' , 1:'aqeel'}

In [17]:
dct6

{1: 'aqeel', 2: 'maham', 3: 'khizar'}

In [18]:
print (dct6)

{1: 'aqeel', 2: 'maham', 3: 'khizar'}

In [ ]:
#we can assign 2 values at 1 key

In [19]:
dct7 = {1:['david' , 'Andrew'] , 2:'fun'}

In [20]:
dct7[1]

['david', 'Andrew']

In [21]:
del dct7[2]
print(dct7)

{1: ['david', 'Andrew']}

In [22]:
dct8={1:['why', 'what', 'when', 'how'], 2:'yuhoo' , 3:'kind'}

In [23]:
dct8[1][2]

'when'

In [24]:
dct8[2]

'yuhoo'

In [26]:
dct8[1][3]

'how'

In [27]:
dct8[1][0]

'why'

In [28]:
dct9 = {1:{11:'a' , 22:'b' , 33:'c'} , 2:'123456'}

In [30]:
dct9[1][33]

'c'

In [31]:
x = 'PAKISTAN'
x[3:6]

'IST'

In [32]:
K = 'INDONESIA'
K[-1]

'A'

In [34]:
dct8[1].append("this")

In [35]:
dct8

{1: ['why', 'what', 'when', 'how', 'this'], 2: 'yuhoo', 3: 'kind'}

In [36]:
s={1:'a' , 2:'b' , 3:'c' , 4:'d' }
for k,v in s.items():
    print(k,v)

1 a
2 b
3 c
4 d

In [39]:
for key in s.keys():
    print(key)

1
2
3
4

In [40]:
for value in s.values():
    print(value)

a
b
c
d

In [42]:
for key in s.keys():
    print(s[key])

a
b
c
d